/********Css For Category Sidebar Navigation ************/
.block-category-nav{}
.block-category-nav .block-content{padding:10px;}
#category-sidebar-nav{}
#category-sidebar-nav li{border-bottom:1px solid #cacaca; padding:3px 0;}
#category-sidebar-nav li.last{border:0 none;}
#category-sidebar-nav li a{font-size:13px; font-weight:normal; color:#333333; text-decoration:none;}
#category-sidebar-nav li a:hover{color:#f7931d;/*  text-decoration:underline; */}
/* Level 0 */
#category-sidebar-nav li.level-top a.level-top{ font-weight:bold;}
#category-sidebar-nav li ul.level0{padding-left:10px;}
#category-sidebar-nav li ul.level0 li{border-bottom:1px dotted #cacaca;}
#category-sidebar-nav li ul.level0 li.last{border:0 none;}
/* Level 1 */
#category-sidebar-nav li ul li ul{padding-left:10px;}
#category-sidebar-nav li ul li ul li a{color:#5a5a5a;}