//base color
$black:                           #000;
$white:                           #fff;
$medium-aquamarine:     #32c1c5;
$lime-green:                    #a7d108;
$light-gray:                      #dbe6eb;

//body color
$bodyColor: 			          #333333;
//$bodyBg: 			              #fff url("../images/bg_960_grid_16_col.png")  repeat-y center top;


$color-header: 				#ba0c1a;
$border: 					#dddddd;
$bodybg: 					#f7f7f7;