<?xml version="1.0"?>
<config>
    <modules>
        <Mirasvit_Credit>
            <version>1.0.0</version>
        </Mirasvit_Credit>
    </modules>
    <global>
        <blocks>
            <credit>
                <class>Mirasvit_Credit_Block</class>
            </credit>
        </blocks>
        <models>
            <credit>
                <class>Mirasvit_Credit_Model</class>
                <resourceModel>credit_resource</resourceModel>
            </credit>
            <credit_resource>
                <class>Mirasvit_Credit_Model_Resource</class>
                <entities>
                    <balance>
                        <table>m_credit_balance</table>
                    </balance>
                    <transaction>
                        <table>m_credit_transaction</table>
                    </transaction>
                </entities>
            </credit_resource>
        </models>

        <sales>
            <quote>
                <totals>
                    <credit>
                        <class>credit/total_quote_credit</class>
                        <after>weee,discount,tax,tax_subtotal,grand_total</after>
                        <renderer>credit/checkout_total</renderer>
                    </credit>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <credit>
                        <class>credit/total_invoice_credit</class>
                        <after>weee,discount,tax,grand_total,reward</after>
                    </credit>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <credit>
                        <class>credit/total_creditmemo_credit</class>
                        <after>weee,discount,tax,grand_total</after>
                    </credit>
                </totals>
            </order_creditmemo>
        </sales>

        <helpers>
            <credit>
                <class>Mirasvit_Credit_Helper</class>
            </credit>
        </helpers>

        <resources>
            <mst_credit_setup>
                <setup>
                    <module>Mirasvit_Credit</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </mst_credit_setup>
        </resources>

        <events>
            <adminhtml_customer_save_after>
                <observers>
                    <credit>
                        <class>credit/observer</class>
                        <method>customerSaveAfter</method>
                    </credit>
                </observers>
            </adminhtml_customer_save_after>

            <sales_quote_payment_import_data_before>
                <observers>
                    <credit>
                        <class>credit/observer_quote</class>
                        <method>onPaymentImportDataBefore</method>
                    </credit>
                </observers>
            </sales_quote_payment_import_data_before>

            <sales_model_service_quote_submit_before>
                <observers>
                    <credit>
                        <class>credit/observer_order</class>
                        <method>onSubmitBefore</method>
                    </credit>
                </observers>
            </sales_model_service_quote_submit_before>

            <sales_model_service_quote_submit_after>
                <observers>
                    <credit>
                        <class>credit/observer_order</class>
                        <method>onSubmitAfter</method>
                    </credit>
                </observers>
            </sales_model_service_quote_submit_after>

            <adminhtml_sales_order_create_process_data>
                <observers>
                    <credit>
                        <class>credit/observer_order</class>
                        <method>onCreateProcessData</method>
                    </credit>
                </observers>
            </adminhtml_sales_order_create_process_data>

            <sales_quote_collect_totals_before>
                <observers>
                    <credit>
                        <class>credit/observer_quote</class>
                        <method>onColletTotalsBefore</method>
                    </credit>
                </observers>
            </sales_quote_collect_totals_before>

            <sales_quote_merge_after>
                <observers>
                    <credit>
                        <class>credit/observer_quote</class>
                        <method>mergeAfter</method>
                    </credit>
                </observers>
            </sales_quote_merge_after>

            <sales_order_invoice_save_after>
                <observers>
                    <credit>
                        <class>credit/observer_invoice</class>
                        <method>onSaveAfter</method>
                    </credit>
                </observers>
            </sales_order_invoice_save_after>

            <sales_order_creditmemo_save_after>
                <observers>
                    <credit>
                        <class>credit/observer_creditmemo</class>
                        <method>onSaveAfter</method>
                    </credit>
                </observers>
            </sales_order_creditmemo_save_after>

            <adminhtml_sales_order_creditmemo_register_before>
                <observers>
                    <credit>
                        <class>credit/observer_creditmemo</class>
                        <method>onRegisterBefore</method>
                    </credit>
                </observers>
            </adminhtml_sales_order_creditmemo_register_before>

            <sales_order_load_after>
                <observers>
                    <credit>
                        <class>credit/observer_order</class>
                        <method>onLoadAfter</method>
                    </credit>
                </observers>
            </sales_order_load_after>

            <sales_order_creditmemo_refund>
                <observers>
                    <credit>
                        <class>credit/observer_creditmemo</class>
                        <method>onRefund</method>
                    </credit>
                </observers>
            </sales_order_creditmemo_refund>

            <order_cancel_after>
                <observers>
                    <credit>
                        <class>credit/observer_order</class>
                        <method>onCancelAfter</method>
                    </credit>
                </observers>
            </order_cancel_after>
            <sales_order_item_cancel>
                <observers>
                    <credit>
                        <class>credit/observer_order</class>
                        <method>onCancelAfter</method>
                    </credit>
                </observers>
            </sales_order_item_cancel>

            <paypal_prepare_line_items>
                <observers>
                    <credit>
                        <class>credit/observer</class>
                        <method>addPaypalCreditItem</method>
                    </credit>
                </observers>
            </paypal_prepare_line_items>

            <core_block_abstract_to_html_after>
                <observers>
                    <credit>
                        <type>singleton</type>
                        <class>credit/observer_output</class>
                        <method>afterOutput</method>
                    </credit>
                </observers>
            </core_block_abstract_to_html_after>


            <controller_action_predispatch_gomage_checkout_onepage_ajax>
                <observers>
                    <credit>
                        <type>singleton</type>
                        <class>credit/observer_custom</class>
                        <method>gomageOnPredispatch</method>
                    </credit>
                </observers>
            </controller_action_predispatch_gomage_checkout_onepage_ajax>

            <controller_action_predispatch_lotusbreath_onestepcheckout_index_saveStep>
                <observers>
                    <credit>
                        <type>singleton</type>
                        <class>credit/observer_custom</class>
                        <method>lotusbreathOnPredispatch</method>
                    </credit>
                </observers>
            </controller_action_predispatch_lotusbreath_onestepcheckout_index_saveStep>

        </events>
        <template>
            <email>
                <credit_balance_update translate="label" module="credit">
                   <label>Store Credit - Balance Update Email</label>
                   <file>mst_credit/balance_update.html</file>
                   <type>html</type>
               </credit_balance_update>
            </email>
        </template>
    </global>
    <frontend>
        <layout>
            <updates>
                <credit>
                    <file>mst_credit.xml</file>
                </credit>
            </updates>
        </layout>
        <translate>
            <modules>
                <Mirasvit_Credit>
                    <files>
                        <default>Mirasvit_Credit.csv</default>
                    </files>
                </Mirasvit_Credit>
            </modules>
        </translate>
        <routers>
            <credit>
                <use>standard</use>
                <args>
                    <module>Mirasvit_Credit</module>
                    <frontName>credit</frontName>
                </args>
            </credit>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
				<args>
					<modules>
						<creditadmin after="Mage_Adminhtml">Mirasvit_Credit_Adminhtml</creditadmin>
					</modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Mirasvit_Credit>
                    <files>
                        <default>Mirasvit_Credit.csv</default>
                    </files>
                </Mirasvit_Credit>
            </modules>
        </translate>
        <layout>
            <updates>
                <credit>
                    <file>mst_credit.xml</file>
                </credit>
            </updates>
        </layout>
    </adminhtml>
    <default>
    </default>
</config>