<?xml version="1.0"?>
<config>
    <modules>
        <SM_XPos>
            <version>3.5.1</version>
        </SM_XPos>
    </modules>
    <stores>
        <admin>
            <design>
                <package>
                    <name>default</name>
                </package>
                <theme>
                    <default>sm</default>
                </theme>
            </design>
        </admin>
    </stores>
    <global>
        <helpers>
            <xpos>
                <class>SM_XPos_Helper</class>
            </xpos>
        </helpers>
        <blocks>
            <xpos>
                <class>SM_XPos_Block</class>
            </xpos>
            <payment>
                <rewrite>
                    <form_cc>SM_XPos_Block_Payment_Cc</form_cc>
                    <info_ccsave>SM_XPos_Block_Payment_Info_Ccsave</info_ccsave>
                </rewrite>
            </payment>
            <adminhtml>
                <rewrite>
                    <catalog_product_composite_configure>SM_XPos_Block_Adminhtml_Override_Configure</catalog_product_composite_configure>
                    <cache>SM_XPos_Block_Adminhtml_Cache</cache>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <xpos>
                <class>SM_XPos_Model</class>
                <resourceModel>xpos_resource</resourceModel>
            </xpos>
            <xpos_resource>
                <class>SM_XPos_Model_Resource</class>
                <entities>
                    <transaction>
                        <table>sm_transaction</table>
                    </transaction>
                    <user>
                        <table>sm_xpos_user</table>
                    </user>
                    <till>
                        <table>sm_till</table>
                    </till>
                    <report>
                        <table>sm_endday_report</table>
                    </report>
                    <denomination>
                        <table>sm_denomination</table>
                    </denomination>
                </entities>
            </xpos_resource>
            <paygate>
                <rewrite>
                    <authorizenet>SM_XPos_Model_Authorize_Authorizenet</authorizenet>
                </rewrite>
            </paygate>
            <authorizenet>
                <rewrite>
                    <directpost_request>SM_XPos_Model_Directpost_Request</directpost_request>
                </rewrite>
            </authorizenet>
            <enterprise_giftcardaccount>
                <rewrite>
                    <observer>SM_XPos_Model_GiftCardAccount_Observer</observer>
                </rewrite>
            </enterprise_giftcardaccount>
            <sales>
                <rewrite>
                    <quote_item>SM_XPos_Model_Quote_Item</quote_item>
                </rewrite>
            </sales>
            <tax>
                <rewrite>
                    <calculation>SM_XPos_Model_Tax_Calculation</calculation>
                </rewrite>
            </tax>
            <adminhtml>
                <rewrite>
                    <sales_order_create>SM_XPos_Model_Adminhtml_Sales_Order_Create</sales_order_create>
                </rewrite>
            </adminhtml>
            <rackpoint>
                <rewrite>
                    <observer>SM_XPos_Model_RackPoint_Observer</observer>
                </rewrite>
            </rackpoint>
        </models>
        <resources>
            <xpos_setup>
                <setup>
                    <module>SM_XPos</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </xpos_setup>
            <xpos_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </xpos_write>
            <xpos_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </xpos_read>
        </resources>
        <events>
            <adminhtml_sales_order_create_process_data>
                <observers>
                    <xpos_integrate_rack_rp>
                        <type>singleton</type>
                        <class>xpos/observer</class>
                        <method>xposProcessData</method>
                    </xpos_integrate_rack_rp>
                </observers>
            </adminhtml_sales_order_create_process_data>


            <admin_system_config_changed_section_xpos>
                <observers>
                    <mymodule>
                        <type>singleton</type>
                        <class>xpos/observer</class>
                        <method>handle_adminSystemConfigChangedSection</method>
                    </mymodule>
                </observers>
            </admin_system_config_changed_section_xpos>
            <update_real_time_after_save>
                <observers>
                    <sm_xpos_check_product_realtime>
                        <type>singleton</type>
                        <class>xpos/observer</class>
                        <method>assignNewProduct</method>
                    </sm_xpos_check_product_realtime>
                </observers>
            </update_real_time_after_save>
            <controller_action_layout_load_before>
                <observers>
                    <sm_xpos_check_update>
                        <type>singleton</type>
                        <class>xpos/observer</class>
                        <method>getDataFromServer</method>
                    </sm_xpos_check_update>
                </observers>
            </controller_action_layout_load_before>

            <model_config_data_save_before>
                <observers>
                    <sm_xpos_check_save>
                        <type>singleton</type>
                        <class>xpos/observer</class>
                        <method>checkSaveConfig</method>
                    </sm_xpos_check_save>
                </observers>
            </model_config_data_save_before>
            <admin_system_config_changed_section_xpos>
                <observers>
                    <sm_core_init_service>
                        <type>singleton</type>
                        <class>xpos/observer</class>
                        <method>refreshStatus</method>
                    </sm_core_init_service>
                </observers>
            </admin_system_config_changed_section_xpos>

            <sales_order_save_before>
                <observers>
                    <xpos_sales_order_after_save>
                        <type>singleton</type>
                        <class>xpos/observer</class>
                        <method>orderSaveAfter</method>
                    </xpos_sales_order_after_save>
                </observers>
            </sales_order_save_before>

            <sales_order_invoice_save_after>
                <observers>
                    <xpos_sales_invoice_after_save>
                        <type>singleton</type>
                        <class>xpos/observer</class>
                        <method>invoiceSaveAfter</method>
                    </xpos_sales_invoice_after_save>
                </observers>
            </sales_order_invoice_save_after>

            <controller_action_predispatch_adminhtml_report_statistics_refreshLifetime>
                <observers>
                    <xpos_report_statistics_refreshLifetime>
                        <type>singleton</type>
                        <class>xpos/observer</class>
                        <method>refreshLifetime</method>
                    </xpos_report_statistics_refreshLifetime>
                </observers>
            </controller_action_predispatch_adminhtml_report_statistics_refreshLifetime>

            <controller_action_predispatch_adminhtml_report_statistics_refreshRecent>
                <observers>
                    <xpos_report_statistics_refreshRecent>
                        <type>singleton</type>
                        <class>xpos/observer</class>
                        <method>refreshLifetime</method>
                    </xpos_report_statistics_refreshRecent>
                </observers>
            </controller_action_predispatch_adminhtml_report_statistics_refreshRecent>

            <core_collection_abstract_load_before>
                <observers>
                    <sm_xpos>
                        <type>singleton</type>
                        <class>xpos/discount_observer</class>
                        <method>coreCollectionAbstractLoadBefore</method>
                    </sm_xpos>
                </observers>
            </core_collection_abstract_load_before>

            <x_pos_complete_order_before>
                <observers>
                    <sm_xpos>
                        <type>singleton</type>
                        <class>xpos/discount_observer</class>
                        <method>xPosCompleteOrderBefore</method>
                    </sm_xpos>
                </observers>
            </x_pos_complete_order_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <sm_xpos before="Mage_Adminhtml">SM_XPos_Adminhtml</sm_xpos>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <sales>
                <children>
                    <xpos module="xpos">
                        <title>POS</title>
                        <children>
                            <mainxpos translate="title" module="xpos">
                                <title>Open X-POS</title>
                                <action>adminhtml/xpos</action>
                            </mainxpos>
                            <cashier translate="title" module="xpos">
                                <title>Manage Cashiers</title>
                                <action>adminhtml/cashier</action>
                            </cashier>
                            <till translate="title" module="xpos">
                                <title>Manage Tills</title>
                                <action>adminhtml/till</action>
                            </till>
                            <settingxpos translate="title" module="xpos">
                                <title>Settings</title>
                                <action>adminhtml/system_config/edit/section/xpos</action>
                            </settingxpos>
                        </children>
                    </xpos>
                </children>
            </sales>
            <report>
                <children>
                    <salesroot>
                        <children>
                            <pos>
                                <title>POS</title>
                                <children>
                                    <eodreport translate="title" module="xpos">
                                        <title>Till reports (Z-reports)</title>
                                        <action>adminhtml/report/eodreport</action>
                                    </eodreport>
                                    <salesreport translate="title" module="xpos">
                                        <title>Sales Reports</title>
                                        <action>adminhtml/report/xpos</action>
                                    </salesreport>

                                </children>

                            </pos>
                        </children>
                    </salesroot>
                </children>
            </report>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <sales>
                            <children>
                                <xpos>
                                    <title>SmartOSC</title>
                                    <children>
                                        <mainxpos>
                                            <title>SmartOSC X-POS</title>
                                        </mainxpos>
                                        <cashier translate="title">
                                            <title>Manage Cashiers</title>
                                        </cashier>
                                        <till translate="title">
                                            <title>Manage Tills</title>
                                        </till>
                                        <settingxpos translate="title">
                                            <title>Settings</title>
                                        </settingxpos>
                                    </children>
                                </xpos>
                            </children>
                        </sales>
                        <report>
                            <children>
                                <salesroot>
                                    <children>
                                        <pos>
                                            <title>POS</title>
                                            <children>
                                                <eodreport translate="title">
                                                    <title>Till reports (Z-reports)</title>
                                                </eodreport>
                                                <salesreport translate="title">
                                                    <title>Sales Reports</title>
                                                </salesreport>
                                            </children>
                                        </pos>
                                    </children>
                                </salesroot>
                            </children>
                        </report>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <xpos>
                                            <title>X-POS Module Option</title>
                                        </xpos>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <translate>
            <modules>
                <SM_XPos>
                    <files>
                        <default>SM_XPos.csv</default>
                    </files>
                </SM_XPos>
            </modules>
        </translate>
        <layout>
            <updates>
                <xpos>
                    <file>xpos.xml</file>
                </xpos>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <xpos>
            <general>
                <enabled>0</enabled>
                <enabled_cashier>0</enabled_cashier>
                <enabled_auto_logout>0</enabled_auto_logout>
                <offline_mode>1</offline_mode>
                <network_check_interval>120</network_check_interval>
                <login_time_out>8000</login_time_out>
            </general>
            <xpos_mode>
                <offlinesearch>1</offlinesearch>
                <searching_status>1</searching_status>
                <searching_product_types>simple,configurable</searching_product_types>
                <searching_by>entity_id,name,sku</searching_by>
                <searching_product_visibility>4</searching_product_visibility>
                <number_result>50</number_result>
                <display_product_information>1</display_product_information>
            </xpos_mode>
            <checkout>
                <enable_guest_checkout>1</enable_guest_checkout>
                <create_invoice>1</create_invoice>
                <create_shipment>1</create_shipment>
                <only_use_default_shipping>0</only_use_default_shipping>
            </checkout>
            <receipt>
                <turn_on_print_receipt>1</turn_on_print_receipt>
                <font_type>sans-serif</font_type>
                <logo_literal>INVOICE</logo_literal>
                <addition_fields_to_display>tax,subtotal</addition_fields_to_display>
                <hide_info_if_value_equal_zero>1</hide_info_if_value_equal_zero>
                <info_separator>dash</info_separator>
                <logo_html_alignment>center</logo_html_alignment>
                <store_info_html_alignment>center</store_info_html_alignment>
                <fore_message>Thank you for using X-POS - Powered By SmartOSC</fore_message>
            </receipt>
            <report>
                <enable_zreport>1</enable_zreport>
                <admin_zreport>1</admin_zreport>
                <enable_xreport>1</enable_xreport>
                <admin_xreport>1</admin_xreport>
                <enable_linkreport>1</enable_linkreport>
                <admin_linkreport>0</admin_linkreport>
                <default_transfer>0</default_transfer>
            </report>
            <cronJob>
                <enable_cron_load_product>0</enable_cron_load_product>
                <time_stop>120</time_stop>
            </cronJob>
            <customize>
                <color_banner>1588D8</color_banner>
                <color_text>EE7600</color_text>
            </customize>
        </xpos>
    </default>
    <crontab>
        <jobs>
            <loadProductToCache>
                <schedule>
                    <cron_expr>0 5 * * *</cron_expr>
                </schedule>
                <run>
                    <model>xpos/observer::loadProductToCache</model>
                </run>
            </loadProductToCache>
        </jobs>
    </crontab>
</config>
