<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Metizsoft_Addnewfield>
            <version>1.0.0</version>
        </Metizsoft_Addnewfield>
    </modules>
    <admin>
        <fieldsets>
            <customer_dataflow>
                <jobtitle><billing>1</billing><shipping>1</shipping></jobtitle>
                <outofcityarea><billing>1</billing><shipping>1</shipping></outofcityarea>
                <salestaxid><billing>1</billing><shipping>1</shipping></salestaxid>
                <statecounty><billing>1</billing><shipping>1</shipping></statecounty>
                <entityname><billing>1</billing><shipping>1</shipping></entityname>
            </customer_dataflow>
        </fieldsets>
    </admin>
    <global>
        <models>
            <addnewfield>
                <class>Metizsoft_Addnewfield_Model</class>
            </addnewfield>
        </models>
        <resources>
            <addnewfield_setup>
                <setup>
                    <module>Metizsoft_Addnewfield</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </addnewfield_setup>
            <addnewfield_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </addnewfield_write>
            <addnewfield_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </addnewfield_read>
        </resources>
        <fieldsets>
            <sales_copy_order_billing_address>
                <jobtitle><to_order>*</to_order></jobtitle>
                <outofcityarea><to_order>*</to_order></outofcityarea>
                <salestaxid><to_order>*</to_order></salestaxid>
                <statecounty><to_order>*</to_order></statecounty>
                <entityname><to_order>*</to_order></entityname>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <jobtitle><to_order>*</to_order></jobtitle>
                <outofcityarea><to_order>*</to_order></outofcityarea>
                <salestaxid><to_order>*</to_order></salestaxid>
                <statecounty><to_order>*</to_order></statecounty>
                <entityname><to_order>*</to_order></entityname>
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <jobtitle><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></jobtitle>
                <outofcityarea><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></outofcityarea>
                <salestaxid><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></salestaxid>
                <statecounty><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></statecounty>
                <entityname><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></entityname>
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <jobtitle><to_quote_address>*</to_quote_address></jobtitle>
                <outofcityarea><to_quote_address>*</to_quote_address></outofcityarea>
                <salestaxid><to_quote_address>*</to_quote_address></salestaxid>
                <statecounty><to_quote_address>*</to_quote_address></statecounty>
                <entityname><to_quote_address>*</to_quote_address></entityname>
            </sales_convert_order_address>
            <customer_address>
                <jobtitle><to_quote_address>*</to_quote_address></jobtitle>
                <outofcityarea><to_quote_address>*</to_quote_address></outofcityarea>
                <salestaxid><to_quote_address>*</to_quote_address></salestaxid>
                <statecounty><to_quote_address>*</to_quote_address></statecounty>
                <entityname><to_quote_address>*</to_quote_address></entityname>
            </customer_address>
            <checkout_onepage_billing>
                <jobtitle><to_customer>*</to_customer></jobtitle>
                <outofcityarea><to_customer>*</to_customer></outofcityarea>
                <salestaxid><to_customer>*</to_customer></salestaxid>
                <statecounty><to_customer>*</to_customer></statecounty>
                <entityname><to_customer>*</to_customer></entityname>
            </checkout_onepage_billing>
        </fieldsets>
    </global>
</config>