<?xml version="1.0"?>
<config>
    <modules>
        <SM_XMessage>
            <version>1.0.0</version>
        </SM_XMessage>
    </modules>
    <global>
        <models>
            <xmessage>
                <class>SM_XMessage_Model</class>
            </xmessage>
        </models>
        <blocks>
            <xmessage>
                <class>SM_XMessage_Block</class>
            </xmessage>
        </blocks>
        <helpers>
            <xmessage>
                <class>SM_XMessage_Helper</class>
            </xmessage>
        </helpers>
        <events>
            <controller_action_layout_load_before>
                <observers>
                    <xmessage_check_info>
                        <class>SM_XMessage_Model_Observer</class>
                        <method>init</method>
                    </xmessage_check_info>
                </observers>
            </controller_action_layout_load_before>
        </events>
    </global>
    <adminhtml>
        <layout>
            <updates>
                <xmessage>
                    <file>xmessage.xml</file>
                </xmessage>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <use>admin</use>
                <args>
                    <modules>
                        <xmessage>SM_XMessage_Adminhtml</xmessage>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <xmessage>
                <use>standard</use>
                <args>
                    <module>SM_XMessage</module>
                    <frontName>xmessage</frontName>
                </args>
            </xmessage>
        </routers>
    </frontend>
</config>