/* Desktop, laptop - design for a width of 1280px
%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
*/

/* 1280px <= width */

@media only screen and (min-width: 1280px)  {
	button.back {background: url("images/cmsmart/i-back-w12.png") no-repeat scroll 5px center #4a8bc3;}
	.nb-topsearch{width: 43%;}.form-list td.label{ width:200px; }
	.nb-topsearch fieldset input.input-text{width:200px;}
	.nbhd{display:inline-block !important;}
	.header-top {padding: 0 30px;}.massaction{width: 100%;}
	.adminhtml-sales-order-index .massaction, .adminhtml-sales-invoice-index .massaction,
	.adminhtml-sales-shipment-index .massaction, .adminhtml-sales-creditmemo-index .massaction{width: 86%;}
	.nav-bar1 ,#nbclick{display:none;}
	button.back:hover{background:url("images/cmsmart/i-back-w.png") no-repeat 5px center #aeaeae;}
	button.back:hover {background: url("images/cmsmart/i-back-w12.png") no-repeat scroll 5px center #aeaeae;}
	.adminhtml-sales-order-view .grid tr.headings th{min-width: 90px;}
	.adminhtml-sales-order-view .grid tr.headings th:nth-child(9){min-width:100px;}
	.adminhtml-sales-order-invoice-view .grid tr.headings th, .adminhtml-sales-order-creditmemo-view .grid tr.headings th{min-width: 100px;}
}

/* Design for a width of 960-1280 px*/

/* 960px <= width < 1280px */
@media only screen and (min-width: 960px) and (max-width: 1279px) {.nb-topsearch{width: 43%;}	
	.form-list td.label{ width:200px; }button.back:hover{background:url("images/cmsmart/i-back-w.png") no-repeat 5px center #aeaeae;}
	.massaction{width: 100%;}.nb-topsearch fieldset input.input-text{width:200px;}.nb-topsearch{width:25%;}
	.adminhtml-sales-order-index .massaction,#sales_invoice_grid .massaction,.adminhtml-sales-shipment-index .massaction,#sales_creditmemo_grid_massaction .massaction{width: 82%;}.nav-bar1 ,#nbclick{display:none;}
	.nbhd{display:inline-block !important;}.header-top {padding: 0 30px;}.nb-topsearch fieldset input.input-text{width:200px;}
	button.back {background: url("images/cmsmart/i-back-w12.png") no-repeat scroll 5px center #4a8bc3;}
	button.back:hover {background: url("images/cmsmart/i-back-w12.png") no-repeat scroll 5px center #aeaeae;}
	.adminhtml-sales-order-view .grid tr.headings th{min-width: 81px;}
	.adminhtml-sales-order-view .grid tr.headings th:nth-child(9){min-width:100px;}
	.adminhtml-sales-order-invoice-view .grid tr.headings th, .adminhtml-sales-order-creditmemo-view .grid tr.headings th{min-width: 100px;}
}


/* Mobile, small old desktop - design for a width of less than 960px*/

/* width < 960px */
@media only screen and (max-width: 959px) {
	.grid table td{color:#777;}.form-list td.label{ width:auto; }#product_info_tabs_bundle_items_content button.delete span{background:none;}
	.adminhtml-cms-page-edit  .content-header .form-buttons button:nth-child(2){background: url("images/cmsmart/btn-reset.png") no-repeat scroll 0 center transparent;
    border: medium none;
    overflow: hidden;padding: 0;
    text-indent: 99em;
    width: 21px;}
	#catalog-wysiwyg-editor,#catalog-wysiwyg-editor_content{width:622px !important; left:84px !important;}
	.adminhtml-sales-order-shipment-view .order-tables{border:1px solid #4A8BC3;}
	.adminhtml-sales-order-shipment-view  .box-left.entry-edit{width:100% !important;}
	.adminhtml-sales-order-index .content-header h3{font-size: 18px;}
	.adminhtml-sales-order-index .grid .headings th.last,.adminhtml-sales-order-index .filter th.last,.adminhtml-sales-order-index tbody td.last{display:none;}
	.adminhtml-catalog-product-new .side-col{margin-top: 46px;}
	.content-header-floating .form-buttons{padding-right:0;}
	.adminhtml-catalog-product-new .content-header h3, .adminhtml-catalog-product-edit .content-header h3{margin-bottom:5px;}
	.adminhtml-catalog-product-new .content-buttons-placeholder, .adminhtml-catalog-product-edit .content-buttons-placeholder{float:left;}
	.nav-bar{display:none !important;}.address-list{padding-right: 15px;}
	button.delete{  background:url(images/cmsmart/i-del.png) no-repeat 0 center transparent;   border: medium none;
    overflow: hidden;padding-top:1px;text-indent: 99em;width: 23px; }
    .nb-btnreset button{background: url("images/cmsmart/btn-reset.png") no-repeat scroll 0 center transparent;
    border: medium none; overflow: hidden; padding: 0; text-indent: 99em; width: 21px;}
     .adminhtml-sales-order-creditmemo-view .content-header h3 { width: 70%;}
     button.back{border: medium none;padding: 0;width: 23px;}
     .grid tr.headings th a{padding: 2px 0 1px !important;}.grid tr.filter .range div.date {min-width: 104px;}
     .grid tr.headings th a.sort-arrow-desc span.sort-title, .grid tr.headings th a.sort-arrow-asc span.sort-title{padding: 3px 5px 2px 0 !important;}
	.grid tr.headings th span.sort-title{    padding: 3px 2px 4px 0;}
	.nb-btnedit:hover,.nb-btnedit{background:url("images/cmsmart/i-btnedit.png") no-repeat 0 center transparent;}
	.nb-btnedit:hover, .nb-btncancel:hover{border:none;}
	.nb-btncancel, .nb-btnedit{border: medium none;overflow: hidden;text-indent: 99em;padding: 0;width: 23px;}	
	.nb-btncancel,.nb-btncancel:hover{ background:url("images/cmsmart/i-del.png") no-repeat 0 center transparent;}
	button.back { background:url("images/cmsmart/i-back.png") no-repeat 0 center transparent; overflow: hidden;text-indent: 999em; }
    
    #nbclick{display:block;}.nav-bar{display:none !important;}.header{height: 60px !important;}
    .nb-btnreset button:hover{background: url("images/cmsmart/btn-reset.png") no-repeat scroll 0 center transparent;border: medium none;}
  
}

/* Tablet (Portrait) - design for a width of 768px*/

/* 768px <= width < 960px */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	#sales_order_grid_table .headings th:nth-child(3){min-width: 100px;}
	#sales_order_grid_table .headings th:nth-child(5){min-width:54px;}
	#sales_order_grid_table .headings th:nth-child(6){min-width:53px;}
	.middle{padding: 23px 10px 0;}
	#catalog-wysiwyg-editor,#catalog-wysiwyg-editor_content{width:642px !important; left:50px !important;}
	.adminhtml-sales-order-shipment-view .content-header h3{width:56%;}
	.adminhtml-sales-order-index table.actions .pager{float:left;}
	.adminhtml-catalog-product-index .content-header tbody .a-right{vertical-align: bottom !important;}
	.form-list td.value input.input-text, .form-list td.value textarea {width: 218px;}
	.form-list td.value select {width: 224px;}
	.footer {padding: 15px 1.8em 1.8em;}.header-right {padding: 0 10px 0 0;}
	table.actions td {display: block;}.nb-topsearch fieldset input.input-text{width:200px;}
	.massaction .separator {padding: 0 2px;}.cms-entry-edit-head{ padding: 1% 5%;}
	#row_design_theme_template_ua_regexp .value td input{ width: 57px!important;}
	.massaction{width: 76%;}
	#sales_creditmemo_grid td.pager,#order_transactions td.pager{float:left;}
	.link-feed{display:none;}
	.adminhtml-catalog-product-index table.actions .pager{float: left;width: 75%;}
	.adminhtml-catalog-product-new .content-buttons-placeholder, .adminhtml-catalog-product-edit .content-buttons-placeholder{float:right !important;}

}


/* All desktop - design for a width of 768px and wider*/

/* 768px <= width */
@media only screen and (min-width: 768px) {
	
}


/* All mobile - design for a width of less than 768px*/

/* width < 768px */
@media only screen and (max-width: 767px) {
	.cmsdas-2, .cmsdas-1{width:100% !important;}
	.cmsdas-1 .cms-entry-edit-head{margin-bottom:0 !important;}
	.cmsdas-2 .cms-entry-edit-head {margin-top: 2%;}
	.cms-entry-edit-head{padding: 2% 4%;}
	table.actions td.pager{width:60%;}
	.adminhtml-cache-index .form-list .scope-label{padding-left:0!important;padding-top: 0 !important;  padding-right: 1px;}
	.massaction td {float: left;width: 100%;}
		#catalog-wysiwyg-editor, #catalog-wysiwyg-editor_content {
    left: -8px !important;
    width: 614px !important;
	}
	
}
/* end: width < 768px */
/*600*/
@media only screen and (min-width: 600px) and (max-width: 767px) {
	
	.form-list td.label{padding-left:0;}.content-header-floating{display:none !important;}.footer .legality{width: 44%;}.footer{ padding: 15px 1em 1em;}
	#table_cataloginventory td.value select{ width: 179px !important;}.adminhtml-system-config-edit .form-list td.scope-label{width:140px;}
	#sales_order_view .box-left,#sales_order_view .box-right{width:100%;}
	.adminhtml-catalog-product-set-edit button.delete{ padding: 4px 0!important;}
	.adminhtml-sales-invoice-index .grid .headings th.last,.adminhtml-sales-invoice-index .grid .filter th.last,.adminhtml-sales-invoice-index .grid tbody td.last,
	.adminhtml-sales-shipment-index .grid .headings th.last,.adminhtml-sales-shipment-index .grid .filter th.last, .adminhtml-sales-shipment-index .grid tbody td.last{display:none;}
	.adminhtml-sales-shipment-index .grid .headings th:nth-child(2){min-width:71px;}
	.massaction{width: 70%;}
	.massaction td:FIRST-CHILD{width:41%;}
	.massaction td:last-child{width: 57%;}
	.massaction .entry-edit fieldset .select{width: 100px;}
	div.main-col{margin-left:185px;}
	
	table.actions td.pager{width:56%;}
	.adminhtml-catalog-product-edit .content-buttons-placeholder{float:right;}
	.columns .form-list td.value {padding-left: 0 !important;}
	div.side-col{width:185px;}
	.header-right { padding: 0 10px 0 0;}.nb-topsearch fieldset input.input-text{width:130px;}
	 .adminhtml-cache-index .content-header td.form-buttons span{font-size: 11px;}
	.form-list td.value select {width: 180px;}.middle{padding: 15px 10px 0;}
	.nborder-box{width:99.6%;}
	.order-totals table td.label            { white-space:normal; padding:3px 10px 3px 20px; }
	.form-list td.value input.input-text, .form-list td.value textarea{   width: 173px;}
	.form-list td.value p.note{width: 167px;}
	.form-list td.scope-label{padding-left:0!important;}
	.fieldset-wide .form-list td.value input.input-text, .fieldset-wide .form-list td.value textarea{width: 201px !important;}
	#table_cataloginventory td.value select {width: 152px;}
	.adminhtml-catalog-product-edit .actions td.filter-actions,
	.adminhtml-catalog-product-edit .actions td.pager{width: 100%;float:left;}
	div.main-col{padding: 0 0 25px 15px;}
	.box, .entry-edit fieldset, .entry-edit .fieldset{ padding: 5px;}
	.adminhtml-sales-order-view .side-col{margin-bottom: 7px;}	
	
}

/* Mobile (Landscape) - design for a width of 480px*/

/* 480px <= width < 768px */
@media only screen and (min-width: 480px) and (max-width: 767px) {
#sales_order_view_tabs li a{padding: 0 7px;}		

}
/* end: 480px <= width < 768px */


/* Design for a width of 640px*/

/* 640px <= width < 768px */
@media only screen and (min-width: 640px) and (max-width: 767px) {

}
/* end: 640px <= width < 768px */

/* width < 600px */
@media only screen and (max-width: 598px) {
	.nav-bar1{width:100% !important;}.content-header-floating{display:none !important;}
	#accordion{min-height: 100px !important;}
	.adminhtml-cache-index .content-header h3{font-size: 13px !important; margin:0;}
	.nb-topsearch, .link-feed{display:none;}.diagrams-das #diagram_tab{padding-right: 12px;}
	#sales_order_grid .nb-export {padding-top: 3px !important;}
	.header-right { padding: 0 10px 0 0;}
	.nbsubmit-comment button{display:block !important;}
	#cache_grid_table tbody tr td{font-size: 11px;}
	.middle{padding: 5px 5px 0;}.footer{padding: 15px 0.8em 0.8em;}
	.footer .legality {text-align:left;width: 100%;}
	table.actions td {float: left;width: 100%;}
	table.actions td.pager {width: 100%;}#cache_grid_massaction .massaction{display:block;}
	 .adminhtml-cache-index .content-header{margin-bottom: 10px;}
	.adminhtml-cache-index .form-buttons button.delete:last-child{  padding-right: 12px; }
	.export.a-right.nb-export { padding-bottom: 10px;}
	button.delete, button.save, button.add, .massaction{display:none;}
	.content-header-floating .form-buttons {padding-right: 0;}
	.content-header-floating .content-header{padding:0;}
	.content-header .form-buttons button {height: 21px;}	
	.adminhtml-sales-order-invoice-view .box-right, .adminhtml-sales-order-invoice-view .box-left,
	#sales_order_view .box-right,#sales_order_view .box-left{width:100%;}
	.adminhtml-sales-order-view .content-header .form-buttons .nb-btnedit,
	.adminhtml-sales-order-view .content-header .form-buttons .nbhold,
	.adminhtml-sales-order-view .content-header .form-buttons .nb-btncancel,
	.adminhtml-sales-order-view .content-header .form-buttons .nb-btnemail,
	.adminhtml-sales-order-view .content-header .form-buttons .go{display:none;}
	button.back {
	    background: url("images/cmsmart/i-back.png") no-repeat scroll 0 0 transparent;
	}
	#submit_comment_button{display:block !important;}
	
	#sales_invoice_grid_table thead th:FIRST-CHILD, #sales_invoice_grid_table tbody tr td:FIRST-CHILD,#sales_invoice_grid_table thead .last,#sales_invoice_grid_table tbody .last,
	#sales_order_grid .hor-scroll thead .filter,#sales_order_grid .hor-scroll thead .last,#sales_order_grid .hor-scroll tbody tr td:FIRST-CHILD,
	#sales_order_grid .hor-scroll tbody .last, #sales_order_grid .hor-scroll thead th:FIRST-CHILD,
	#sales_order_grid .hor-scroll thead th:nth-child(3), #sales_order_grid .hor-scroll tbody tr td:nth-child(3)
	{display:none;}
	#sales_order_grid .hor-scroll table{ border-width: 1px 0 0 1px;}
	#sales_order_grid .hor-scroll tbody tr{background:#fff;}
	.grid tr.headings th a.sort-arrow-desc span.sort-title, .grid tr.headings th a.sort-arrow-asc span.sort-title{background-position: right top;}
	
}

/* Design for a width of 480px*/

/* 480 <= width < 640px */
@media only screen and (min-width: 480px) and (max-width: 598px) {
	.massaction {height: 40px;}#cache_grid_massaction-form label{font-size:12px !important;}
	.nb-navbar1 li a, .entry-edit .entry-edit-head strong, .entry-edit .entry-edit-head a{font-size:8px!important; font-weight: normal !important;}
	#diagram_tab_content p.switcher,#cache_grid_massaction .massaction a,  table.actions td.pager,  address,fieldset, .order-totals td.label, .legality p{font-size:7px !important; font-weight: normal !important;}
	.grid td,#comments_block label.normal{font-size:12px !important;}
	#cache_grid_massaction .massaction {margin-bottom: 20px;}
	.legality p{margin-bottom: 0 !important;}
	.nb-export select{width: 6em!important; }
	.nborder-box { width: 99.5%;}
	.massaction{width: 68%;}.nb-export select {width: 5em !important;}
	.adminhtml-sales-order-view .side-col{display:none;}
	#sales_order_grid .hor-scroll thead th a span {padding: 3px 2.9px 4px;}
	#sales_order_grid .hor-scroll thead th a{padding: 2px 2px 1px 0;}
	.content-header h3 {font-size: 14px;margin: 0;}
	#cache_grid_massaction .massaction td a{font-size: 11px;}
	#sales_order_view strong{font-weight: normal;}
	.adminhtml-sales-order-address .content-header h3{padding-left:0;}
	#nbclick, .nav-bar1{display:none !important;}
	#nbclick1{display:block !important; z-index:999;}
	
}
/* end: 480 <= width < 640px */


/* Design for a width of less than 480px (small mobile)*/

/* width < 480px */
@media only screen and (max-width: 479px) {
	#nbclick, .nav-bar1{display:none !important;}#nbclick1{display:block !important; z-index:999;}
	
}
/* end: width < 480px */


/* Design for a width of 320px (mobile - portrait)*/

/* 320px <= width < 480px */
@media only screen and (min-width: 320px) and (max-width: 479px) {
	.message-popup{margin:0 0 0 -157px;width: 305px;}.message-popup .message-popup-content{padding:5px;}
	#sales_order_view .entry-edit-head .tools,.adminhtml-sales-order-view .side-col{display:none;}.nborder-box{width: 99.2%;}
	#sales_order_view .entry-edit-head h4{ line-height: 16px;font-size: 12px;}.separator{ padding: 0 2px;}
	.massaction {height: 60px;}.adminhtml-sales-order-index h3{font-size: 22px;}
	.adminhtml-cache-index .form-list button{height: 30px;margin-top: 4px;width: 180px;}
	#productsReviewedGrid_table thead .headings th:FIRST-CHILD{    min-width: 107px;}
	#sales_order_grid .hor-scroll thead th a span{padding: 3px 0 4px;}
	.grid-severity-critical, .grid-severity-critical span, .grid-severity-major, .grid-severity-major span, .grid-severity-minor, .grid-severity-minor span, .grid-severity-notice, .grid-severity-notice span{font: bold 8px/16px Arial,Helvetica,sans-serif;}
	#sales_order_grid .hor-scroll thead th a {padding: 2px 0 1px;}
	#cache_grid_table thead th:nth-child(4), #cache_grid_table tbody td:nth-child(4) {display:none;}
	#cache_grid_table table td {font-size: 11px;}
	.content-header h3 {font-size: 13px;}.nb-totals-order {width: 70%;}
	.logo { max-width: 140px;margin: 22px 20px 5px 10px;}
	.nbdas-tab{padding:  8px 0 0 2% !important;}
	.nbdas-tab li {margin-bottom: 1% !important;margin-right: 2% !important;width: 48%;}
	.nbdas-tab li a{border:1px solid #00a489 !important;}
	.nbdas-tab li a.active{ background: #f37b53 !important;border: 1px solid #f37b53 !important;}
	.nbdas-tab li a.active span{ color: #fff !important;}
	.link-logout {display: inline-block;height: 12px;overflow: hidden;padding-left: 2px;text-indent: 99px;width: 12px;margin-bottom: -2px;}
	#history_form div.f-left{width:100% !important;}
	.nbsubmit-comment{float:left !important; margin-top: 10px;}
	
}
/* end: 320px <= width < 480px */


/* Design for a width of 240px*/

/* width < 320px */
@media only screen and (max-width: 319px) {		
	

}

/*
.tooltip, .nb-arrow:after {
  background: black;
 
}

.tooltip {
  pointer-events: none;
  opacity: 0;
  display: inline-block;
  position: absolute;
  padding: 10px 15px;
  color: white;  
  margin-top: 20px;
  text-align: center;
  font:11px arial, Sans-Serif;
  font-stretch: condensed;
  text-decoration: none;
  text-transform: capitalize;
  box-shadow: 0 0 7px black;
}
.nb-arrow {
  width: 70px;
  height: 16px;
  overflow: hidden;
  position: absolute;
  left: 50%;
  margin-left: -35px;
  bottom: -16px;
}
.nb-arrow:after {
  content: "";
  position: absolute;
  left: 20px;
  top: -20px;
  width: 25px;
  height: 25px;
  -webkit-box-shadow: 6px 5px 9px -9px black,
                      5px 6px 9px -9px black;
  -moz-box-shadow: 6px 5px 9px -9px black,
                   5px 6px 9px -9px black;
  box-shadow: 6px 5px 9px -9px black,
              5px 6px 9px -9px black;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
}
.tooltip.active {
  opacity: 1;
  margin-top: 5px;
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
}
.tooltip.out {
  opacity: 0;
  margin-top: -20px;
}
*/
