<?xml version="1.0"?>
<config>
    <modules>
        <Cmsmart_AdminTheme>
            <version>2.0.0</version>
        </Cmsmart_AdminTheme>
    </modules>
    <global>
        <blocks>
            <cmsmart_admintheme>
                <class>Cmsmart_AdminTheme_Block</class>
            </cmsmart_admintheme>
            <adminhtml>
                <rewrite>
                    <sales_order_view>Cmsmart_AdminTheme_Block_Adminhtml_Block_Sales_Order_View</sales_order_view>
                </rewrite>
                <rewrite>
                    <dashboard_grids>Cmsmart_AdminTheme_Block_Adminhtml_Block_Dashboard_Grids</dashboard_grids>
                </rewrite>
            </adminhtml>
          
        </blocks>
        <helpers>
            <cmsmart_admintheme>
                <class>Cmsmart_AdminTheme_Helper</class>
            </cmsmart_admintheme>
        </helpers>
        <models>
            <cmsmart_admintheme>
                <class>Cmsmart_AdminTheme_Model</class>
            </cmsmart_admintheme>
        </models>
        <events>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <cmsmart_admintheme_admin_predispatch>
                        <class>Cmsmart_AdminTheme_Model_Adminhtml_Observer</class>
                        <method>setTheme</method>
                    </cmsmart_admintheme_admin_predispatch>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <cmsmart_admintheme before="Mage_Adminhtml">Cmsmart_AdminTheme_Adminhtml</cmsmart_admintheme>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <cmsmart_admintheme>
                    <file>cmsmart/admintheme.xml</file>
                </cmsmart_admintheme>
            </updates>
        </layout>
        <translate>
            <modules>
                <Cmsmart_AdminTheme>
                    <files>
                        <default>Cmsmart_AdminTheme.csv</default>
                    </files>
                </Cmsmart_AdminTheme>
            </modules>
        </translate>
        <themes>
            <default module="cmsmart_admintheme">
                <label>Default</label>
            </default>
            <admintheme module="cmsmart_admintheme">
                <label>Cmsmart Admin Theme</label>
            </admintheme>
        </themes>
    </adminhtml>
    <default>
        <cmsmart_admintheme>
			<cmsmart>
				<license_skuproduct_admintheme>MGT26</license_skuproduct_admintheme>
			</cmsmart>
            <config>
                <theme>default</theme>
            </config>
        </cmsmart_admintheme>
    </default>
</config>
