<?xml version="1.0"?>
<config>
    <modules>
        <SM_XPayment>
            <version>1.3.0</version>
        </SM_XPayment>
    </modules>
    <global>
        <helpers>
            <xpayment>
                <class>SM_XPayment_Helper</class>
            </xpayment>
        </helpers>
        <blocks>
            <xpayment>
                <class>SM_XPayment_Block</class>
            </xpayment>
        </blocks>
        <models>
            <xpayment-eav>
                <class>SM_XPayment_Model</class>
                <!--location-->
                <resourceModel>xpayment-eav_mysql4</resourceModel>
            </xpayment-eav>
            <xpayment-eav_mysql4><!--contains the configuration that communicates with our database-->
                <class>SM_XPayment_Model_Resource_Eav_Mysql4</class>
                <!--location-->
                <entities>
                    <xpayment>
                        <table>xpayment</table>
                        <!--table name in database connect to.-->
                    </xpayment>
                </entities>
            </xpayment-eav_mysql4>
            <xpayment><!--need same name module. It define in Mage::getModel-->
                <class>SM_XPayment_Model</class>
                <!--location of model class-->
                <resourceModel>xpayment_mysql4</resourceModel>
            </xpayment>
        </models>
        <resources>

            <xpayment-eav_setup>
                <setup>
                    <module>SM_XPayment</module>
                    <class>SM_XPayment_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </xpayment-eav_setup>
            <xpayment-eav_write>
                <connection>
                    <use>default_write</use>
                </connection>
            </xpayment-eav_write>
            <xpayment-eav_read>
                <connection>
                    <use>default_read</use>
                </connection>
            </xpayment-eav_read>
            <xpayment_setup>
                <setup>
                    <module>SM_XPayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </xpayment_setup>
            <xpayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </xpayment_write>
            <xpayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </xpayment_read>
            <sp2051434443988_setup>
                <setup>
                    <module>SM_XPayment</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sp2051434443988_setup>
            <sp2051434443988_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sp2051434443988_write>
            <sp2051434443988_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sp2051434443988_read>
        </resources>
        <fieldsets>
            <sales_convert_quote_payment>
                <check_no>
                    <to_order_payment>*</to_order_payment>
                </check_no>
            </sales_convert_quote_payment>
        </fieldsets>
        <events>
            <admin_system_config_changed_section_xpayment>
                <observers>
                    <mymodule>
                        <type>singleton</type>
                        <class>xpayment/observer</class>
                        <method>handle_adminSystemConfigChangedSectionSPayment</method>
                    </mymodule>
                </observers>
            </admin_system_config_changed_section_xpayment>
        </events>
    </global>
    <admin>
        <routers>
            <xpayment>
                <use>admin</use>
                <args>
                    <module>SM_XPayment</module>
                    <frontName>admin_xpayment</frontName>
                </args>
            </xpayment>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <xpayment translate="title" module="xpayment">
                            <title>XPayment</title>
                            <sort_order>1000</sort_order>
                            <children>
                                <xpaymentbackend translate="title">
                                    <title>Backend Page Title</title>
                                </xpaymentbackend>
                                <xpayment translate="title">
                                    <title>Manage SPayment</title>
                                    <sort_order>0</sort_order>
                                </xpayment>
                            </children>
                        </xpayment>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <xpayment>
                    <file>xpayment.xml</file>
                </xpayment>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <payment>
            <xpaymentMultiple>
                <model>xpayment/multiplePaymentMethod</model>
                <payment_action>authorize</payment_action>
            </xpaymentMultiple>
            <xpayment_cashpayment>
                <model>xpayment/cashPaymentMethod</model>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_cashpayment>
            <xpayment_ccpayment>
                <active>1</active>
                <model>xpayment/ccPaymentMethod</model>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_ccpayment>
            <xpayment_cc1payment>
                <model>xpayment/CreditCard1</model>
                <payment_action>authorize</payment_action>
            </xpayment_cc1payment>
            <xpayment_cc2payment>
                <model>xpayment/CreditCard2</model>
                <payment_action>authorize</payment_action>
            </xpayment_cc2payment>
            <xpayment_cc3payment>
                <model>xpayment/CreditCard3</model>
                <payment_action>authorize</payment_action>
            </xpayment_cc3payment>
            <xpayment_cc4payment>
                <model>xpayment/CreditCard4</model>
                <payment_action>authorize</payment_action>
            </xpayment_cc4payment>
            <xpayment_izettlepayment>
                <model>xpayment/Izettle</model>
                <payment_action>authorize</payment_action>
            </xpayment_izettlepayment>
            <xpayment_stripepayment>
                <model>xpayment/Stripe</model>
                <payment_action>authorize</payment_action>
            </xpayment_stripepayment>
            <xpayment_paypalpayment>
                <model>xpayment/PaypalHere</model>
                <payment_action>authorize</payment_action>
            </xpayment_paypalpayment>
            <xpayment_bluepaypayment>
                <model>xpayment/BluePay</model>
                <payment_action>authorize</payment_action>
            </xpayment_bluepaypayment>
            <xpayment_authorizepayment>
                <model>xpayment/AuthorizeNet</model>
                <payment_action>authorize</payment_action>
            </xpayment_authorizepayment>
        </payment>
        <xpayment>
            <xpaymentMultiple>
                <active>1</active>
                <model>xpayment/multiplePaymentMethod</model>
                <order_status>pending</order_status>
                <title>Multiple Payment</title>
                <payment_allow>xpayment_cashpayment, xpayment_ccpayment,xpayment_cc1payment,xpayment_cc2payment,xpayment_cc3payment,xpayment_cc4payment</payment_allow>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpaymentMultiple>
            <xpayment_cashpayment>
                <active>1</active>
                <model>xpayment/cashPaymentMethod</model>
                <order_status>pending</order_status>
                <title>X-POS Cash</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_cashpayment>
            <xpayment_ccpayment>
                <active>1</active>
                <model>xpayment/ccPaymentMethod</model>
                <order_status>pending</order_status>
                <title>X-POS Credit Card</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_ccpayment>
            <xpayment_cc1payment>
                <active>0</active>
                <model>xpayment/CreditCard1</model>
                <order_status>pending</order_status>
                <title>Credit Card 1</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_cc1payment>
            <xpayment_cc2payment>
                <active>0</active>
                <model>xpayment/CreditCard2</model>
                <order_status>pending</order_status>
                <title>Credit Card 2</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_cc2payment>
            <xpayment_cc3payment>
                <active>0</active>
                <model>xpayment/CreditCard3</model>
                <order_status>pending</order_status>
                <title>Credit Card 3</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_cc3payment>
            <xpayment_cc4payment>
                <active>0</active>
                <model>xpayment/CreditCard4</model>
                <order_status>pending</order_status>
                <title>Credit Card 4</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_cc4payment>
            <xpayment_izettlepayment>
                <active>0</active>
                <model>xpayment/Izettle</model>
                <order_status>pending</order_status>
                <title>iZettle</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_izettlepayment>
            <xpayment_stripepayment>
                <active>0</active>
                <model>xpayment/Stripe</model>
                <order_status>pending</order_status>
                <title>Stripe</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_stripepayment>
            <xpayment_paypalpayment>
                <active>0</active>
                <model>xpayment/PaypalHere</model>
                <order_status>pending</order_status>
                <title>Paypal Here</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_paypalpayment>
            <xpayment_bluepaypayment>
                <active>0</active>
                <model>xpayment/BluePay</model>
                <order_status>pending</order_status>
                <title>BluePay</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_bluepaypayment>
            <xpayment_authorizepayment>
                <active>0</active>
                <model>xpayment/AuthorizeNet</model>
                <order_status>pending</order_status>
                <title>Authorize.Net</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_authorizepayment>
        </xpayment>
        <payment>
            <xpaymentMultiple>
                <active>1</active>
                <model>xpayment/multiplePaymentMethod</model>
                <order_status>pending</order_status>
                <title>Multiple Payment</title>
                <payment_allow>xpayment_cashpayment, xpayment_ccpayment,xpayment_cc1payment,xpayment_cc2payment,xpayment_cc3payment,xpayment_cc4payment</payment_allow>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpaymentMultiple>
            <xpayment_cashpayment>
                <active>1</active>
                <model>xpayment/cashPaymentMethod</model>
                <order_status>pending</order_status>
                <title>X-POS Cash</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_cashpayment>
            <xpayment_ccpayment>
                <active>1</active>
                <model>xpayment/ccPaymentMethod</model>
                <order_status>pending</order_status>
                <title>X-POS Credit Card</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_ccpayment>
            <xpayment_cc1payment>
                <active>0</active>
                <model>xpayment/CreditCard1</model>
                <order_status>pending</order_status>
                <title>Credit Card 1</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_cc1payment>
            <xpayment_cc2payment>
                <active>0</active>
                <model>xpayment/CreditCard2</model>
                <order_status>pending</order_status>
                <title>Credit Card 2</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_cc2payment>
            <xpayment_cc3payment>
                <active>0</active>
                <model>xpayment/CreditCard3</model>
                <order_status>pending</order_status>
                <title>Credit Card 3</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_cc3payment>
            <xpayment_cc4payment>
                <active>0</active>
                <model>xpayment/CreditCard4</model>
                <order_status>pending</order_status>
                <title>Credit Card 4</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_cc4payment>
            <xpayment_izettlepayment>
                <active>0</active>
                <model>xpayment/Izettle</model>
                <order_status>pending</order_status>
                <title>iZettle</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_izettlepayment>
            <xpayment_stripepayment>
                <active>0</active>
                <model>xpayment/Stripe</model>
                <order_status>pending</order_status>
                <title>X-POS Stripe</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_stripepayment>
            <xpayment_paypalpayment>
                <active>0</active>
                <model>xpayment/PaypalHere</model>
                <order_status>pending</order_status>
                <title>Paypal Here</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_paypalpayment>
            <xpayment_bluepaypayment>
                <active>0</active>
                <model>xpayment/BluePay</model>
                <order_status>pending</order_status>
                <title>BluePay</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_bluepaypayment>
            <xpayment_authorizepayment>
                <active>0</active>
                <model>xpayment/AuthorizeNet</model>
                <order_status>pending</order_status>
                <title>Authorize.Net</title>
                <cctypes>AE,VI,MC,DI</cctypes>
                <payment_action>authorize</payment_action>
                <allowspecific>0</allowspecific>
            </xpayment_authorizepayment>
        </payment>
        <carriers>
            <xpayment_pickup_shipping>
                <active>1</active>
                <model>xpayment/pickupShippingMethod</model>
                <name>Shipping</name>
                <title>Pickup Shipping</title>
                <sallowspecific>0</sallowspecific>
                <frontend_enabled>0</frontend_enabled>
            </xpayment_pickup_shipping>
        </carriers>
    </default>
</config> 
