#center{
    width:512px;
    height: 99%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    #product-info{
        background-color: $bodybg;
        overflow: hidden !important;
        overflow-x: hidden !important;
        overflow-y: scroll !important;
        padding-left: 9px;
        height: 92%;
        padding-top: 10px;
        li{
            position: relative;
            display: inline-block;
            margin-left: 8px;
            margin-bottom: 20px;
            vertical-align: top;
            background-color: $white;
            width: 23%;
            @include border-radius(2px);
            .product-hover-info {
                display: none;
                position: fixed;
                z-index: 1;
                background-color: transparent;
                /*
                top: 0;
                left: -175%;
                */
                width: 155px;
                .decorate {
                    width: 0;
                    height: 0;
                    margin-top: 15px;
                    border-top: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-left: 8px solid #ccc;
                }
                .literal {
                    -webkit-flex-grow: 1;
                    flex-grow: 1;
                    padding: 10px 0 0 0;
                    background-color: white;
                    border: solid 1px #eee;
                    border-right: none; border-bottom:none;
                    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.4);
                    box-shadow: 1px 1px 2px rgba(0,0,0,.4);
                    overflow: hidden;
                    white-space: normal;
                    word-wrap: break-word;
                }
                .literal > * {
                    padding: 0 10px;
                }
                .pro-name {
                    font-size: .8em;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                    border-bottom: dashed 1px #ddd;
                }
                .pro-pair {
                    font-size: .7em;
                    padding-bottom: 5px;
                }
                .pro-plus {
                    font-size: .7em;
                    background-color: #eee;
                    padding: 10px 10px 5px 10px;
                    margin-top: 5px;
                  & > .title {
                    padding-bottom: 5px;
                  }
                  .item {
                    padding-bottom: 5px;
                    .title{
                      text-transform: capitalize;
                    }
                  }
                }
            }
            .product-wrapper{
                text-align: center;
                padding-top: 5px;
                position: relative;
                padding-bottom: 9px;
                a{
                    display: block;
                    img{
                        width: 75px;
                        height: 75px;
                    }
                }
                .name{
                    height: 30px;
                    overflow: hidden;
                    font-size: 11px;
                    font-weight: 700;
                    display: block;
                    padding: 2px 18px 0;
                    width: 80px;
                }
                .price{
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: #dddddd;
                    @include border-radius(2px 0 0 0);
                    >span{
                        font-size: 11px;
                        font-weight: 700;
                        padding: 6px 8px;
                    }
                }
            }
            &:hover, &.active{
                border: 1px solid #ba0c1a;
                margin-bottom: 18px;
                //padding-bottom: 7px;
                width: 22.6%;
                .product-wrapper{
                    padding-top: 4px;
                    .name{ padding: 2px 17px 0}
                }
                .price{
                    background-color: #ba0c1a;
                    >span{ color: $white;}
                }
            }
            &:hover {
                .product-hover-info {
                    display: block;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-flow: row nowrap;
                    flex-flow: row nowrap;
                    -webkit-align-items: flex-start;
                    align-items: flex-start;
                }
            }
        }
        .configurable, .bundle, .grouped{
            width: 0px;
            height: 0px;
            border-style: solid;
            border-width: 0 13px 12px 0;
            border-color: transparent #ba0c1a transparent transparent;
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    #category-info{
        background-color: #dddddd;
        position: absolute;
        width: 100%;
        bottom: 0px;
        left: -1px;
        #category-selected{
            text-transform: uppercase;
            font-weight: 700;
            font-size: 13px;
        }
        .category-selector{
            text-align: center;
            padding: 8px 0;
        }
        .hide, .show{
            i{
                @include retina-background-image("../images/category-list",png,30px,96px);
                background-repeat: no-repeat;
                position: absolute;
                top: -20px;
                left: 47%;
                text-indent: -1000em;
                height: 22px;
                width: 30px;
            }
        }
        .show i{
            background-position: 0 -75px;
            top: -11px;
        }
        ul#category-list{
            margin-top: 18px;
            max-height: 219px;
            overflow-y: auto;
        }
        ul li{
            background-color: $white;
            @include border-radius(3px);
            width: 88px;
            height: 90px;
            display: block;
            margin-left: 11px;
            margin-bottom: 15px;
            text-align: center;
            overflow: hidden;
            float: left;
            a{
                font-weight: 700;
                font-size: 12px;
                text-transform: uppercase;
                display: block;
                span{
                    height: 90px;
                    display: table-cell;
                    vertical-align: middle;
                    padding: 0 5px;
                    width: 90px;
                }
            }
            &:hover, &.active{
                background-color: $color-header;
                a{
                    color: $white;
                }
            }
        }
    }
}
/*=============================checkout=========================*/
#right{
    width: 512px;
    border-left: 2px solid #dddddd;
    background-color: $bodybg;
    display: none;
    height: 100%;
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    #checkout_method_bar{
        overflow: hidden;
        div{
            float: left;
            width: 28.7%;
            border-left: 2px solid $border;
            border-bottom: 2px solid $border;
            padding: 10px 11px 8px;
            cursor: pointer;
            background: -webkit-linear-gradient(#ffffff, #ededed);
            background: -o-linear-gradient(#ffffff, #ededed);
            background: -moz-linear-gradient(#ffffff, #ededed);
            background: linear-gradient(#ffffff, #ededed);
           h2{
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            padding: 0 10px 13px;
            border-bottom: 1px solid $border;
            text-align: center;
           }
           span{
            font-size: 12px;
            font-style: italic;
            color: #aaaaaa;
            display: block;
            text-align: center;
            margin-top: 7px;
            width: 100%;
            overflow:hidden;
            white-space:nowrap;
            text-overflow: ellipsis;
           }
           &:first-child{
                border-left: none;
           }
        }
        div.active{
            background: none;
            border-bottom: none;
        }
        .payment{ border-left: 0px;}
        .discount{ border-right: 2px solid $border;}
    }
    ul{
        margin-top: 19px;
        padding: 0 19px;
        height: 64%;
        overflow-y: auto;
        li{
            list-style: none;
            #order-billing_method_form{ position: relative;}
            .checkout-item, #order-shipping-method-summary{
                margin: 10px 0;
                padding: 10px 0;
                border-left: solid 6px transparent;
                background-color: $white;
                cursor: pointer;
                -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.1);
                box-shadow: 1px 1px 2px rgba(0,0,0,.1);
                a{
                    color: $bodyColor;
                    font-size: 13px;
                    font-weight: 700;
                    display: block;
                    padding-left: 30px;
                }
                label{
                    font-size: 13px;
                    font-weight: 700;
                    color: $bodyColor;
                }
                h4{ font-size: 14px;}
                dt{
                    padding-left: 30px;
                    label{
                        font-size: 13px;
                        font-weight: 700;
                    }
                }
                &:hover{
                    background-color: #fafafa;
                    border-left: solid 6px $color-header;
                    a, label, >span, h4{
                        color: $color-header;
                    }
                }
                > span{
                    display: block;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    padding: 0 30px;
                    font-size:14px;
                    font-weight: 600;

                }
                span.no-display{ display: inline-block; padding-left: 0}
                //div{ line-height: 20px;}
                input{ margin-left: 30px;}
                .entry-edit{
                    margin: 10px 0;
                    .entry-edit-head{
                        padding-left: 30px; padding-bottom: 7px;
                    }
                }
            }
            .payment-method-item {
                > span {
                    min-height: 30px;
                    line-height: 30px;
                }
            }
            .shipping-method-item {
                > span {
                    min-height:30px;
                    line-height:30px;
                }
            }
            #order-giftcards{
                .checkout-item{
                    height: auto;

                }
            }
            .checkout-item.active{
                border-left: solid 6px $color-header;
                /*&:before{
                    content: "";
                    width: 6px;
                    background-color: $color-header;
                    height: 69px;
                    position: absolute;
                    @include border-radius(2px 0 0 2px);
                }*/
                a, label, >span, h4{
                    color: $color-header;
                }
            }
            .shipment-methods{
                .checkout-item{
                    div{ line-height: 20px; font-size: 13px;}
                }
            }
            .reload{
                display: block;
                font-size: 13px;
                margin-top: 10px;
                &:hover{ color: $color-header}
            }
            input#authorizenet-swiper-data{ background-color: #F7F7F7; border: none}
            #payment_form_authorizenet{ margin-top: 0}
            .ccsave-block, #payment_form_authorizenet, {
                margin-top:-9px;
                margin-bottom:10px;
                font-size:13px;
                background-color: $white;
                padding: 14px 0 25px 30px;
                overflow: hidden;
                -webkit-box-shadow:0px 0px 1px rgba(0,0,0,.1);
                -moz-box-shadow:0px 0px 1px rgba(0,0,0,.1);
                box-shadow:0px 0px 1px rgba(0,0,0,.1);
                background-color:#fcfcfc;
                input{
                    padding: 4px;
                    width: 202px;
                    // if u want use this style, please use diffrent class to apply
                    //margin-bottom:15px;
                    // ----end----
                    margin-bottom:1px !important;
                }
                .input-text-cc-save{
                    /*
                    XPOS-1838: Checkout with credit card: Fix some bug about GUI
                    */
                    margin-bottom:1px;
                }
                label {
                    border-bottom: dashed 1px #ccc;
                    font-size:12px;
                    font-weight:600;
                    padding-bottom:1px;
                }
                p{
                    margin-top: 10px;
                    margin-bottom: 7px;
                    color:#333;
                    font-size:12px;
                    font-weight:600;

                    span{
                        color: $color-header;
                    }
                }
                .select-month, .select-year, .v-fix{
                    display: inline-block;
                }
                .select-year, .v-fix:last-child{
                  width: 130px;
                  left: 25px;
                  position: relative;
                }
            }
            .no-hover{
                &:hover{
                    &:before{
                        background-color: #fff;
                    }
                    a, label, >span, h4{ color: $bodyColor}
                }
            }
        }
        li#verisign_cc_type_exp_div{
            overflow: hidden;
            margin-top: 12px;
            .input-box{
                .v-fix{
                    float: left;
                    width: 130px;
                }
                .v-fix:first-child{
                    float: left;
                    width: 83px;
                    margin-right: 7px;
                }
            }
        }
        .input-box{
            #verisign_cc_number_display, #verisign_cc_cid{
                width: 201px;
            }
        }
    }
    .block-pay{
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: nowrap;
        flex-wrap: nowrap;
        background-color: $border;
        overflow: hidden;
        width: 100%;
        position: absolute;
        bottom: 0;
        z-index: 999;
        
        label{ display: block; font-size: 13px; padding-bottom: 12px;}
        input{
            font-family: $arialblack;
            padding-left: 9px;
        }
        .cash, .amount, .change, .button-pay{ display: inline-block}
        .amount{
            padding: 9px 0 0 13px;
            input{
                width: 134px;
                @include border-radius(7px 0 0 7px);
                border: none;
                color: $bodyColor;
            }
        }
        .change{
             padding: 9px 0 0;
            .value-change{
                width: 90px;
                height: 41px;
                background-color: $bodybg;
                @include border-radius(0px 7px 7px 0px);
                border: none;
                color: #aaaaaa;
                input{
                    border: none;
                    background: none;
                    width: 83%;
                }
            }
        }
        .cash{
            background: -webkit-linear-gradient(#ffffff, #ededed);
            background: -o-linear-gradient(#ffffff, #ededed);
            background: -moz-linear-gradient(#ffffff, #ededed);
            background: linear-gradient(#ffffff, #ededed);
            margin: 1px;
            text-align: center;
            width: 88px;
            height: 88px;
            cursor: pointer;
            span{
                text-transform: uppercase;
                font-size: 13px;
                font-weight: 700;
                height: 65px;
                padding-top: 24px;
                display: block;
            }
        }
        .button-pay{
            margin-left: 12px;
            margin-top: 1px;
            background-color: $color-header;
            width: 155px;
            text-align: center;
            button{
                color: $white;
                font-family: $arialblack;
                font-size: 30px;
                background: none;
                width: 100%;
                height: 89px;
            }
        }
    }
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    #right .block-pay .change .value-change{
        height: 40px;
    }
}

.cc_save_fix{
  left: 1px !important;
}

.cc_verification{
    border-bottom: none !important;
    cursor: default !important;
}

