<?xml version="1.0"?>
<config>
    <modules>
        <SM_StoreCredit>
            <version>1.0.5</version>
        </SM_StoreCredit>
    </modules>
    <global>
        <models>
            <sm_store_credit>
                <class>SM_StoreCredit_Model</class>
            </sm_store_credit>
        </models>
        <sales>
            <quote>
                <totals>
                    <credit>
                        <class>sm_store_credit/total_quote_due</class>
                        <before>grand_total</before>
                    </credit>
                </totals>
            </quote>
        </sales>
        <fieldsets>
            <sales_convert_quote>
                <sm_pay_due_amount>
                    <to_order>*</to_order>
                </sm_pay_due_amount>
            </sales_convert_quote>
            <sales_convert_quote>
                <sm_current_balance>
                    <to_order>*</to_order>
                </sm_current_balance>
            </sales_convert_quote>
        </fieldsets>
        <resources>
            <sm_store_credit_setup>
                <setup>
                    <module>SM_StoreCredit</module>
                </setup>
            </sm_store_credit_setup>
        </resources>
        <blocks>
            <sm_store_credit>
                <class>SM_StoreCredit_Block</class>
            </sm_store_credit>
        </blocks>
        <helpers>
            <sm_store_credit>
                <class>SM_StoreCredit_Helper</class>
            </sm_store_credit>
        </helpers>
        <fieldsets>
            <sales_convert_quote_payment>
                <sm_store_credit_pay>
                    <to_order_payment>*</to_order_payment>
                </sm_store_credit_pay>
                <sm_store_credit_pay_due>
                    <to_order_payment>*</to_order_payment>
                </sm_store_credit_pay_due>
                <sm_store_credit_pay_previous>
                    <to_order_payment>*</to_order_payment>
                </sm_store_credit_pay_previous>
                <sm_store_credit_pay_previous_value>
                    <to_order_payment>*</to_order_payment>
                </sm_store_credit_pay_previous_value>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <adminhtml>
        <events>
            <sales_order_place_before>
                <observers>
                    <sm_storecredit>
                        <type>singleton</type>
                        <class>sm_store_credit/observer</class>
                        <method>salesOrderPlaceBefore</method>
                    </sm_storecredit>
                </observers>
            </sales_order_place_before>
        </events>
    </adminhtml>
    <default>
        <payment>
            <sm_store_credit>
                <active>1</active>
                <model>sm_store_credit/method_storeCredit</model>
                <order_status>pending</order_status>
                <title>Credit Balance</title>
                <allowspecific>0</allowspecific>
                <payment_action>authorize_capture</payment_action>
            </sm_store_credit>
            <sm_store_credit_due>
                <active>0</active>
                <model>sm_store_credit/method_storeCreditDue</model>
                <order_status>pending</order_status>
                <title>Credit Balance Due</title>
                <allowspecific>0</allowspecific>
                <payment_action>authorize_capture</payment_action>
            </sm_store_credit_due>
        </payment>
    </default>
</config>
